<html>
<head>
    {{>head}}
</head>

<body id="profile">

<div class="container-fluid">

  {{>admin_header}}

  <div class="row">

    <div class="col-sm-3">
      {{>profile_nav this}}
    </div>

    <div class="col-sm-9">

      <div class="panel panel-default">
        <div class="panel-heading">{{user.username}} 的博客</div>
        <div class="panel-body">

        <form class="form" method="post">

          <div class="form-group">
            <label for="new">新密码</label>
            <input type="new" class="form-control" id="new" name="new">
          </div>

          <div class="form-group">
            <label for="repeat">再次输入</label>
            <input type="repeat" class="form-control" id="repeat" name="repeat">
          </div>

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          <button type="submit" class="btn btn-default">保存</button>

        </form>
        </div>

      </div>

    </div>
  </div>
</div>
</body>
</html>
