<html>
<head>
  {{>head}}
</head>

<body id="forgot">

<div class="container">
  {{>common_header}}

  <form class="form-inline" method="post">
    <input name="username" id="username" type="email" required=""
           class="form-control" placeholder="您的注册邮箱">

    <button class="btn btn-primary" type="submit">提交</button>
  </form>

</div>

</body>
</html>
