
<div class="page-header">
  <h3>
    {{title}}
    <div class="pull-right">
      <a class="btn btn-sm btn-default" href="/">首页</a>
      <a class="btn btn-sm btn-default" href="/account/login">登录</a>
      <a class="btn btn-sm btn-default" href="/account/register">注册</a>
    </div>
  </h3>
</div>