<title>{{title}}</title>

<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/highlightjs/github.css">

<script src="/lib/jquery/jquery-2.1.3.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/marked.min.js"></script>
<script src="/lib/highlightjs/highlight.min.js"></script>

<script src="/javascripts/common.js"></script>
