<nav class="navbar navbar-static" role="navigation">
  <div class="container">

    <a class="navbar-brand nav-external" href="/">
      My Blog
    </a>
    <div class="navbar-right">
      {{#if req.user}}
        <a class="btn btn-sm btn-grey dashboard" href="/admin/post"><i class="glyphicon glyphicon-cog"></i>Dashboard</a>
      {{else}}
        <a class="btn btn-sm btn-red" href="/account/login">Login</a>
        <a class="btn btn-sm btn-hollow" href="/account/signup">Sign Up</a>
      {{/if}}
    </div>
  </div>
</nav>
<div class="banner">
  <div class="container">
    <div class="blog-intro">
      <h1 class="title">
        <!-- {{title}} -->
        Blog Title
      </h1>
      <div class="description">
        My first hand coded blog
        <!-- 一个简单的博客系统。Node.js 后台，Handlebars 模板引擎，Bootstrap Css 框架。 -->
      </div>
    </div>
    
  </div>

  <!-- <div class="sign">
    <span>——天码营</span>
  </div> -->

</div>
