<div class="jumbo">
  <div class="navbar">
    <a class="btn btn-lg btn-link home" href="/">
      <i class="fa fa-home"></i> 天码博客
    </a>
    {{#if req.user}}
      <a class="btn btn-sm btn-default pull-right" href="/admin/post">我的账户</a>
    {{else}}
      <div class="pull-right">
        <a class="btn btn-sm btn-primary" href="/account/login">登录</a>
        <a class="btn btn-sm btn-default" href="/account/signup">注册</a>
      </div>
    {{/if}}
  </div>

  <h3 class="title">{{title}}</h3>


  <div class="description">
    <span>一个简单的博客系统。Node.js 后台，Handlebars 模板引擎，Bootstrap Css 框架。</span>
  </div>

  <div class="sign">
    <span>——天码营</span>
  </div>

</div>
