<nav class="navbar navbar-inverse navbar-fixed-top" id="home-header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">TMY Blog</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      {{> user_nav}}
    </div>
  </div>
</nav>

<div class="banner">
  <div class="container">
    <div class="blog-intro">
      <img class="img-circle pull-left avatar" src="{{author.avatar}}">

      <h1 class="title">{{author.title}}</h1>

      <div class="description">{{author.description}}</div>
    </div>
  </div>
</div>
