
<ul class="nav nav-pills nav-stacked" role="tablist">
  <li class="{{#if active_post}}active{{/if}}"><a href="/admin/post">管理博客</a></li>
  <li class="{{#if active_profile}}active{{/if}}"><a href="/admin/profile">账户信息</a></li>
  <li class="{{#if active_password}}active{{/if}}"><a href="/admin/password">更改密码</a></li>
</ul>