/**
 * Created by harttle on 1/29/15.
 */
// env dependent config file

module.exports = {
    smtp: {
        host: 'smtp.pku.edu.cn',
        port: 25,
        ignoreTLS: true,
        auth: {
            user: 'username',
            pass: 'password'
        }
    },
    mongo:{
        url: 'mongodb://localhost/tm-blog'
    },
    protocol: 'http',
    host: '127.0.0.1',
    port: 3000
};
