/**
 * Created by harttle on 1/29/15.
 */
// env dependent config file

module.exports = {
    smtp: {
        host: 'smtp.example.com',
        port: 25,
        ignoreTLS: true,
        auth: {
            user: 'your username',
            pass: 'your password'
        }
    },
    protocol: 'http',
    host: '127.0.0.1',
    port: 3000
};
