/**
 * Created by harttle on 1/29/15.
 */

var fs = require('fs');

module.exports = {
    env: process.env.NODE_ENV || 'production',
    schema: 'http://',
    host: '127.0.0.1',
    port: 3000,
    outerHost: 'demo.tianmaying.com',
    outerPort: 80,
    mongodb: 'mongodb://localhost/tm-blog',
    smtp: {
        host: 'smtp.126.com',
        port: 25,
        auth: {
            user: 'yangjvn@126.com',
            pass: 'yourpass'
        }
    },
    pkg: JSON.parse(fs.readFileSync('./package.json', 'utf8'))
};
