<html>
<head>
    {{>head}}
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body id="index">

{{>home_header}}

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">已注册用户</h3>
    </div>
    <div class="panel-body">

      <ul class="list-unstyled">
          {{#each users}}
            <li><a href="/{{id}}">{{username}}</a></li>
          {{/each}}
      </ul>

    </div>
  </div>

</div>
</body>
</html>
