#index .content > h2 {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 20px;
}

#index .blog-item{
    padding: 25px 20px;
    background-color: #f8f8f8;
    border-radius: 7px;
    margin-bottom: 30px;
}
#index .blog-item .title{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#index .blog-item div{
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB";
}
#index .blog-item .user{
    margin-bottom: 5px;
}
#index .blog-item .description{
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#index .blog-item .glyphicon-home{
    font-size: 20px;
    color: #dbdbdb;
}
#index .blog-item .user {
    color: #979797;
}
#index .blog-item .user .glyphicon-user{
    color: #7ac6db;
}