<html>
<head>
    {{>head}}
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body id="index">

{{>home_header}}

<div class="container content">
  <h2>Registered Blogs</h2>
  <div class="row">
    {{#each users}}
    <div class="col-md-4 col-sm-6">
      <div class="blog-item">
        <span class="glyphicon glyphicon-home pull-right"></span>
        <h3 class="title"><a class="inverse" href="/{{id}}">My Blog</a></h3>
        <div class="user">
          <span class="glyphicon glyphicon-user"></span>
          {{username}}
        </div>
        <div class="description">My first hand coded blog. Her name is Nicole. She's hot. Way prettier than my old QQ zone. You know what I mean?</div>
      </div>
    </div>
    {{/each}}

  </div>
  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Registered Blogs</h2>
    </div>
    <div class="panel-body">

      <ul class="list-unstyled">
          {{#each users}}
            <li><a href="/{{id}}">{{username}}</a></li>
          {{/each}}
      </ul>

    </div>
  </div> -->

</div>
{{>footer}}
</body>
</html>
